<footer class="bg-primary text-white text-center text-lg-start">

    <div class="p-5">

        <div class="row">

            <div class="col-sm-6">
                <div class="mb-2">

                    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.facebook.com"
                        role="button"><i class="fab fa-facebook-f"></i></a>

                    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.instagram.com"
                        role="button"><i class="fab fa-google"></i></a>


                    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://twitter.com"
                        role="button"><i class="fab fa-instagram"></i></a>

                    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.whatsapp.com"
                        role="button"><i class="fab fa-whatsapp"></i></a>
                </div>


                <div class="">
                    <form action="">
                        <strong>Ne manquez pas de vous abonner à notre newsletter!</strong>
                        <label class="input-group mt-2">

                            <input type="text" class="form-control" placeholder="Votre E-mail">
                            <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
                        </label>

                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-8 col-sm-8">
                        <h5 class="text-uppercase">Liens rapides</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-decoration-none text-white">Deposer une Annonce</a>
                            </li>
                            <li>
                                <a href="#!" class="text-decoration-none text-white">Location</a>
                            </li>
                            <li>
                                <a href="#!" class="text-decoration-none text-white">Acheter</a>
                            </li>
                            <li>
                                <a href="#!" class="text-decoration-none text-white">Estimation</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 col-sm-4">
                        <h5 class="text-uppercase">About</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class=" text-decoration-none text-white">A Propos</a>
                            </li>
                            <li>
                                <a href="#!" class=" text-decoration-none text-white">News</a>
                            </li>
                            <li>
                                <a href="#!" class=" text-decoration-none text-white">Contacts</a>
                            </li>
                            <li>
                                <a href="#!" class=" text-decoration-none text-white">Aide et support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright :
        <a class="text-decoration-none text-white" href="home.html"> FreeImmo</a>
    </div>

</footer>