<header class="fixed-top">
    <div class="navbar p-3 mb-2">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="#"><span id="free">Free</span><span id="immo">Immo</span></a>
              
            </div>
            <div>
                <div class="input-group">
                    
                   
                   
                </div>
            </div>
            <div>
                <a class="navbar-brand fs-5 fw-bolder text-warning" href="#">Accueil</a>
                <a class="navbar-brand fs-5 fw-bolder text-warning" href="#">Estimation</a>
                <a class="text-decoration-none m-4 text-warning fs-5 fw-bolder" href="#">Inscription</a>
                <a class="btn btn-warning text-decoration-none fs-6 fw-bolder text-primary" href="{{ path('app_annonce_new') }}"
                    role="button"><strong>+</strong>Deposer Une Annonce</a>
            </div>
        </div>
    </div>
</header>